@font-face {
    font-family: Caviar;
    src: url('../Fonts/CaviarDreams/CaviarDreams-Regular.ttf');
}
@font-face {
    font-family: Caviar;
    src: url('../Fonts/CaviarDreams/CaviarDreams-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: Caviar;
    src: url('../Fonts/CaviarDreams/CaviarDreams-Italic.ttf');
    font-style: italic;
}
@font-face {
    font-family: Caviar;
    src: url('../Fonts/CaviarDreams/CaviarDreams-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: Garamond;
    src: url('../Fonts/EbGaramond/EBGaramond12-Regular.ttf');
}
@font-face {
    font-family: Garamond;
    src: url('../Fonts/EbGaramond/EBGaramond08-Regular.ttf');
    font-weight: bold;
}
@font-face {
    font-family: Garamond;
    src: url('../Fonts/EbGaramond/EBGaramond12-Italic.ttf');
    font-style: italic;
}
@font-face {
    font-family: Garamond;
    src: url('../Fonts/EbGaramond/EBGaramond08-Italic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: Raleway;
    src: url('../Fonts/Raleway/Raleway-Regular.ttf');
}
@font-face {
    font-family: Raleway;
    src: url('../Fonts/Raleway/Raleway-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: Raleway;
    src: url('../Fonts/Raleway/Raleway-Black.ttf');
    font-weight: 900;
}
@font-face {
    font-family: Raleway;
    src: url('../Fonts/Raleway/Raleway-Italic.ttf');
    font-style: italic;
}
@font-face {
    font-family: Raleway;
    src: url('../Fonts/Raleway/Raleway-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}
